.menuItem-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 60%;
    position: relative;
    overflow: hidden;
}

.menuItem-details {
    flex: 1;
    padding-right: 20px;
}

.menuItem-details h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.menuItem-details h5 {
    margin: 5px 0;
    color: #555;
}

.menuItem-details h4 {
    margin-top: 10px;
    color: #888;
    font-size: 14px;
}

.menuItem-image {
    width: 150px;
    height: 150px;
   
    border-radius: 8px;
}


.menuItem-details {
    flex: 1;
    padding-right: 20px;
}

.menuItem-details h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.menuItem-details h5 {
    margin: 5px 0;
    color: #555;
}

.menuItem-details h4 {
    margin-top: 10px;
    color: #888;
    font-size: 14px;
}


.menuItem-addButton {
    position: absolute; /* Places the button within the image container */
    bottom: 5px; /* Positions above the bottom edge */
    left: 91%; /* Centers horizontally */
    transform: translateX(-50%); /* Centers the button properly */
    background-color: white;
    color: #28cd4e;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 12%;
    z-index: 1; /* Ensures the button is above the image */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }